$header-color: #1DB954;
$header-font-color:white;
$card-background: #C4C4C4;
$side-menu-color:#303531;
$font-awesome-color:#fff;
$side-bar-item-color:#fff;
$hover-color: #555a56;
$pagination-color:$header-color;
@font-face {
  font-family: "Metropolis-semi-bold";
  src: url("./assets/font/METROPOLIS-SEMIBOLD.OTF") format("truetype");
}
@font-face {
  font-family: "Metropolis-light";
  src: url("./assets/font/METROPOLIS-LIGHT.OTF") format("truetype");
}
